<h2 class="content-subhead">Contact</h2>
<p>GODOT is a collaboration of these people and projects:</p>
<ul>
<li><a href="http://www.trismegistos.org/">Trismegistos</a>: Prof. M. Depauw (KU Leuven)</li>
<li><a href="http://www.ircyr.kcl.ac.uk/">Inscriptions of Roman Cyrenaica</a>: Prof. C. Roueche (King's College London)</li>
<li><a href="http://edh-www.adw.uni-heidelberg.de/">Epigraphic Database Heidelberg</a>: Dr. Frank Grieshaber (Heidelberg Academy of Sciences and Humanities; Heidelberg University)</li>
</ul>
</p>
<p>Mail address: <a href="mailto:frank.grieshaber@zaw.uni-heidelberg.de">frank.grieshaber@zaw.uni-heidelberg.de</a>
</p>

