<h2 class="content-subhead">Ressources</h2>
<p>For a number of eponymous officials lists of GODOT IRIs are being created including links to Wikidata - this is work in progress.</p>
<ul>
<li><a href="https://docs.google.com/spreadsheets/d/1w7f3FbeiZ3SbzBXQa5cFfUmhoupa4-MV2KQDs3ACwA8/edit?usp=sharing" target="_blank">List of Roman consuls</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1jBwtlgIcLOknK66iylr5EVKPIH7sZncbHf1lWoblc7U/edit?usp=sharing" target="_blank">Tribunicia Potestas dating system</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1jsNCbUfNx3EmtLplRLgjOIsagWrxrK3VIZnMP8_O7jI/edit?usp=sharing" target="_blank">High Priest of Apollo in Cyrene</a></li>
</ul>